<!DOCTYPE html>
<html lang="en">
  <head>
    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js"  crossorigin="anonymous"></script>
      <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
      <script sc="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.1.0/jspdf.plugin.autotable.min.js"></script>
      <script sc="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.1.0/jspdf.plugin.autotable.js"></script>
      <script src="bower_components/jspdf/dist/jspdf.min.js"></script> -->
      <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>museum</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but museum doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
