<template>
  <div class="Home">
    <div>
  <b-navbar type="dark" variant="dark">
  </b-navbar>
</div>
 <div>
  <b-img src="https://picturesmania.com/0-0/7080_sankt-pete.jpg" opacity="0.3" fluid alt="Responsive image"></b-img>
  <div class="center"><h1>ALAPPY DIGITAL MUSEUM</h1>
   <p>Real museums are places where time is transformed into space</p>
   <b-button  variant="warning" router-link to="/Login" >Generate Tickets</b-button></div>
</div>
 <div>
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav>
     
    </b-navbar-nav>
  </b-navbar>
</div>
  </div>
</template>

<script>
export default {
  
  
}
</script>

<style scoped>  
img {
 width: 100%;
  height: auto;
  opacity: 0.5;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
h1 {
  font-size:50px;
  font-weight: bold;
}
p {
font-style: italic;
font-family: 'Courier New', Courier, monospace;
padding-left: 30px;
padding-right: 30px;
}


</style>

