<template>
   <div :style="style">
     
      <!-- Greeting -->
      
      <h1>{{greeting}}</h1>
      <!-- Customized message -->
      <p v-if="message">{{message}}</p>
      <!-- Product description -->
      <p>
        1909 ഫെബ്രുവരി 14-ന്‌ കോട്ടയം കാഞ്ഞിരപ്പള്ളിയിൽ കരിപ്പാപ്പറമ്പിൽ തൊമ്മൻ ചെറിയാന്റേയും അന്നമ്മയുടേയും രണ്ടാമത്തെ മകളായി ജനിച്ചു. കാഞ്ഞിരപ്പള്ളി ഗവണ്മെന്റ് ഗേൾസ് ഹൈസ്കൂൾ, ചങ്ങനാശ്ശേരി സെന്റ്.ജോസഫ് ഹൈസ്കൂൾ എന്നിവിടങ്ങളിൽ പ്രാഥമിക വിദ്യാഭ്യാസം നേടി. തുടർന്ന് എറണാകുളം സെന്റ്. തെരേസാസ് കോളേജിൽ നിന്ന് ചരിത്രത്തിൽ ബിരുദം എടുത്തു. കാഞ്ഞിരപ്പളി സെയിന്റ്‌ മേരീസ്‌ സ്കൂളിൽ പ്രധാനാധ്യാപികയായി ജോലി നോക്കിയിരുന്നെങ്കിലും 1938ൽ അത് രാജിവച്ചു. 1952ൽ എം.എൽ.എ ആയിരുന്ന വി.വി. വർക്കിയെ വിവാഹം ചെയ്യുകയും അക്കാമ്മ വർക്കി എന്ന പേർ സ്വീകരിയ്ക്കുകയും ചെയ്തു[2]. ആദ്യ കേരള നിയമസഭയിലെ അംഗമായ റോസമ്മ പുന്നൂസ് സഹോദരിയാണ്.[3]

1982-ൽ അന്തരിച്ച അക്കാമ്മയെ തിരുവനന്തപുരം മുട്ടട ഹോളിക്രോസ് പള്ളിയിൽ അടക്കം ചെയ്തിരിക്കുന്നു.
      </p>
      <!-- Call-to-action -->
    <a href="#" @click.prevent>Sign up now! (no credit card required)</a>
   </div>
</template>

<script>
import firebase, { database } from 'firebase';
export default {
    
   
    // A prop is a custom attribute for passing information to a component
    props: ['to', 'stage', 'bg'],
    // We use computed properties based on 'props' to avoid any complex logic in our template
    computed: {
        greeting() {
            if (this.to) {
         return ` ${this.to}` 
            
            } else {
                // No invitee is specified, display default message
                return "Hi there"
            }
        },
        message() {
            switch (this.stage) {
                case 'belly':
                    return "Freedom fighter"
                case 'baby':
                    return 'Freedom fighter'
                    // No stage is specified, don't show a customized message
                default:
                    return null
            }
        },
        style() {
            return {
                'padding': '3rem',
                'background-color': '#' + this.bg // If no background is specified, the computed css value will be invalid and ignored
            }
        }
    }
}
</script>