<template>
<div>
  <div>
  <b-navbar type="dark" variant="dark">
  </b-navbar>
   <div>
  <b-img src="https://serving.photos.photobox.com/015028438e27b9e0c9056b06ff2dd44cb07945d96193cca1d0e666df939a6019af110fea.jpg" opacity="0.3" width="100%" height="50%" fluid alt="Responsive image"></b-img>
</div>
</div>
    <div class="login">
        <h3>Sign In</h3>
        <input type="text" v-model="email" placeholder="Email"><br>
        <input type="password" v-model="password" placeholder="Password"><br>
        <b-button  variant="warning" @click="login">Login</b-button>
       
        <p>Login and generate your tickets</p>
    </div>
    
    <div>
  <b-navbar type="dark" variant="dark">
  </b-navbar>
</div>
</div>
</template>

<script>

import db from './firebaseInit'
import firebase from 'firebase';
import { error } from 'util';

export default {
    name: 'login',
    data() {
        return {
            email:'',
            password:''
        };
    },
    methods: {
        login(){
            firebase.auth().signInWithEmailAndPassword(this.email,this.password).then(
                (user) => {
                    this.$router.replace('pdf')
                }).catch((err) => {
                    alert('oops.'+ err.message)
                });
        }
    }
}
</script>


<style scoped>
    
    .login {
        margin-top: 40px;
    }
    input {
        margin: 10px 0;
        width: 20%;
        padding: 15px;
    }
    button {
        margin-top: 20px;
        width: 10%;
        cursor: pointer;
    }
    p {
        margin-top: 40px;
        font-size: 13px;
    }
    p a {
        text-decoration: underline;
        cursor: pointer;
    }
    img {
 width: 100%;
  height: 20%;

}
</style>
