<template>
<div>
     <div>
  <b-navbar type="dark" variant="dark">
  
    <div>  <b-button class="right" @click="logout()" >Logout</b-button></div>
         <div class="divider"/>
       <b-button @click="download()">Download PDF</b-button>
  </b-navbar>
</div><div>
  
</div>
<!-- <table id="table">
    <thead>
    <tr>
        
          <th> <strong>  Date </strong></th>
          <th> <strong>Blocks  </strong> </th>
          <th> <strong>Total Husk</strong></th>
          <th><strong>Used Husk</strong></th>
          <th><strong>Good Fiber</strong></th>
          <th><strong>Little Fiber</strong></th>
          <th><strong>Cocopeat</strong></th>
          <th><strong>Total workers</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <tr li v-for="blocks in filteredDatas" v-bind:key="blocks.id" class="collection-item">
         
          <th>wedrftghy</th>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          <td>wedrftghy</td>
          
    </tr>
  
    </tbody>
</table>
 -->

<div  class="container" center>
 
        <br>
        <br>
        <h3>TICKET GENERATION</h3>
        <label for="num">Enter the ticket count  </label>
        
        <div ref="content">
        <input v-model.number="count" type="number" step="1" placeholder="   No of tickets  ">
        <br>
        <br>
        
        <b-button  variant="warning" @click="saveDetails()">Generate QR code</b-button>
       <div class="space"></div>
         <body>
         <div id="table" class="col-10">
          <!-- <tr class="col-12"> -->
            <div class="row">
          <div v-for="n in count" :key="n"   class="col-4">
            <qrcode-vue :value="values.value+n" :size="values.size" level="H">
              
            
               {{values.value+n}}
         
              
            </qrcode-vue>
          </div>
            </div>
        <!-- </tr> -->
      </div>
       </body>
    </div>
       </div>



     <div class="spacing"/>
    <div>
  <b-navbar type="dark" variant="dark">
  </b-navbar>
</div>
<div class="footer/"></div>
</div>
</template>



<script>
import QrcodeVue from 'qrcode.vue';
import jsPDF from 'jspdf';
import 'jspdf-autotable';
import db from './firebaseInit'
import firebase from 'firebase';
import { error } from 'util';


 
export default {
  data() {
    return {
      values:
        {
        value: 'ALPYMUSEUM-'+new Date().toISOString().replace('-', '/').split('T')[0].replace('-', '/')+'-TKNO:',
          size: 100,
          text:'hellooo'
        },
        count:'',
       i:0,
        
        
      
    }
  },
 /*  computed: {
                test_data() {
                    var formatted = [];
                    for (i = 0; i < 50; i++) {
                        formatted[i] = { id: i, name: i};
                    }
                    return formatted;
                } 
          
            }, */
            
   methods: {
     /*  demoFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('#content')[0];

        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
        source, // HTML string or DOM elem ref.
        margins.left, // x coord
        margins.top, { // y coord
            'width': margins.width, // max width of content on PDF
            'elementHandlers': specialElementHandlers
        },

        function (dispose) {
            // dispose: object with X, Y of the last line add to the PDF 
            //          this allow the insertion of new lines after html
            pdf.save('Test.pdf');
        }, margins);
    },
        */
     download() {
       var doc = new jsPDF();
          /*  doc.autoTable({head: head, body: body}); */
            doc.autoTable({html: '#table', startY: 30});
            doc.save("Tickets");
        },

         saveDetails (){
           
          
                for(this.i=1; this.i <=(this.count);this.i++)
                  {
                      console.log(this.count)
                       db.collection('ticketss').add({
                  tkid:this.i,
                  tkvalue:this.values.value+this.i,
                  
                  
               })
                .then(docRef => {
                    
                    console.log("Document data:",i);
                })
                .catch(error => console.log(error))
                 
                  }
               alert("Your Response Recorded : Thank you "); 
                
              },

            /* const doc = new jsPDF();
            const contentHtml = this.$refs.content.innerHTML;
            doc.fromHTML(contentHtml, 15, 15, {
              width: 170
            });
            doc.save("sample.pdf");
          },
          downloadWithCSS() {
            const doc = new jsPDF();
            var canvasElement = document.createElement('canvas');
              html2canvas(this.$refs.content, { canvas: canvasElement 
                }).then(function (canvas) {
              const img = canvas.toDataURL("image/png");
              doc.addImage(img,'JPEG',20,20);
              doc.save("sample.pdf");
            }); */
   

            /* generate()
                  {
                    const doc = new jsPDF();
                    const contentHtml = this.$refs.content.innerHTML;
                    doc.fromHTML(contentHtml, 15, 15, {
                      width: 170
                    });
                    doc.save("sample.pdf"); */

            /* var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                today = mm + '/' + dd + '/' + yyyy;
              
                alert(today); */
            
           /*  var chart = new CanvasJS.Chart("chartContainer",
              {
                title: {
                  text: "Exporting chart using jsPDF & toDataurl"
                }
                
            });
            chart.render();

            var canvas = $("#chartContainer .canvasjs-chart-canvas").get(0);
            var dataURL = canvas.toDataURL();
            //console.log(dataURL);

            $("#exportButton").click(function(){
                var pdf = new jsPDF();
                pdf.addImage(dataURL, 'JPEG', 0, 0);
                pdf.save("download.pdf");
            }); */

       sysdate(){
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
 
        today = mm + '/' + dd + '/' + yyyy;
        return today;
        },
      logout(){
      firebase.auth().signOut().then(() => {
        this.$router.replace('Login');
      });
    }

   },
  components: {
    QrcodeVue
  }
}
</script>

<style scoped>
    
    .login {
        margin-top: 40px;
    }
  
    input {
        margin: 10px 0;
        width: 20%;
        padding: 15px;
    }
    
    p {
        margin-top: 40px;
        font-size: 13px;
    }
    p a {
        text-decoration: underline;
        cursor: pointer;
    }
    .lefttop{
      padding-left: 0px;
      padding-top: 20px;
    }
    img {
 width: 80%;
  height: -50%;

}
   .right {
     padding-right: 20px;
   }
   .divider{
    width:10px;
    height:auto;
    display:inline-block;
}
.spacing {
  height: 240px;
  width: auto;
  display: inline-block;
}
footer {
  padding-bottom: 20px;
  background-color: black;
  width: 50px;
}
.space {
  height: 50px;
  width: auto;
}
</style>
