<template>
 <div >
  <!-- <h1>{{ huddle.goal }}</h1>
  <h1>{{ huddle.headline }}</h1>
  <h1>{{ huddle.body }}</h1> -->
  <h1>hellooooooooooooooooooooo</h1>
 <h1>{{greeting}}</h1>
 </div>
</template>


<script>
import db from "./firebaseInit"
import firebase, { database } from 'firebase';
export default {
   /*  name: "HuddleSpace",
  data() {
    return {
      id: this.$route.params.id,
      huddle: {}
      
    }
  },
mounted () {
    this.fetchData()
  },
  watch: {
    "$route": "fetchData"
  },
  methods: {  
    fetchData() {
        console.log(this.$route.params.id);
      db.collection("huddle").where("id", "==", 
       this.$route.params.id).get().then(querySnapshot => {
        querySnapshot.forEach(doc => {
         this.huddle = {
            goal: doc.data().goal,
            headline: doc.data().headline,
            body: doc.data().body
          }
        })
      })
    }
  }, */

   props: ['id'],
   computed: {
        greeting() {
            if (this.id) {
             return ` ${this.id}`
            /*   console.log ` ${this.id}` */
            } else {
               
                return "Hi there"
            }
        }
   },
//   data() {
//     return {
//        id: ` ${this.id}`, 
//       huddle: {}
//     }
//   },
  mounted() {
    this.fetchData()
  },
  watch: {
    "$route": "fetchData"
  },
  methods: {  
    fetchData() {

        var ref = db.collection('huddle').doc(this.id);
              ref.get().then(function(doc) {
        if (doc.exists) {
         console.log("Document data:", doc.data());
        
      } else {
        console.log('document not found');
  
          }
      }); 
       
       /*  var ref = db.collection('huddle').doc(this.id);
        ref.get().then(function(documentSnapshot) {
  if (documentSnapshot.exists) {
  var data = documentSnapshot.data();
} else {
  console.log('document not found');
}
}); */



/*       db.collection('huddle').document(this.id)
.get().then(docSnapshot => {
    if (!docSnapshot.exists) return;
    let data = docSnapshot.data()
     this.huddle = {
            goal: doc.data().goal,
            headline: doc.data().headline,
            body: doc.data().body
            }
}); */

      /* console.log(this.id);
      db.collection("huddle").where("id", "==", 
       this.id).get().then(querySnapshot => {
        querySnapshot.forEach(doc => {
            if (querySnapshot.empty) {
  console.log('no documents found');
} else {
   this.huddle = {
            goal: doc.data().goal,
            headline: doc.data().headline,
            body: doc.data().body
}
        
          }
        })
      }) */

       
    }
  },
}
</script>